Repository JennieSH/JennieSH.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, prettier --write, yarn lint:style

.lintstagedrc.json:

{
    "*.{ts,js,vue}": [
      "yarn lint:js --fix"
    ],
    "*.{scss,css,vue,md}": [
      "prettier --write",
      "yarn lint:style"
    ]
}

chore(setting): update rules
  .vscode/settings.json
Due: none

doc: update article (Mac 環境、工具建置)
  contents/dev/Mac/mac-setup.md
Due: prettier --write, yarn lint:style

refactor: rename file
  contents/dev/Terminal/terminal-warp-p10k.md
Due: prettier --write, yarn lint:style

doc: add article (客製化 command line - Warp + Starship)
  contents/dev/Terminal/terminal-warp-starship.md
Due: prettier --write, yarn lint:style

fix: fix path
  contents/dev/Terminal/terminal-warp-starship.md
Due: prettier --write, yarn lint:style

doc: add article (富文本編輯器 - Braft Editor)
  contents/dev/NPM/braft-editor.md
Due: prettier --write, yarn lint:style

doc: update article (富文本編輯器 - Braft Editor)
  contents/dev/NPM/braft-editor.md
Due: prettier --write, yarn lint:style

doc: add article (認識 Core Web Vitals)
  contents/dev/Browser/core-web-vitals.md
Due: prettier --write, yarn lint:style

doc: add article (Flutter 安裝 feat. Apple M3 Pro)
  contents/dev/Flutter/flutter-setup-m3.md
Due: prettier --write, yarn lint:style

doc: add article ([Debug] Flutter Image.network() 在 Web 下，圖片會載入失敗)
  contents/dev/Flutter/image-network-cors.md
Due: prettier --write, yarn lint:style

feat(getArticleMatterList): add sorting functionality for articles by updatedAt
  composables/useArticle.ts
Due: yarn lint:js --fix

doc: add article (GraphQL - Graph Query Language)
  contents/dev/API/graphql-introduction.md
Due: prettier --write, yarn lint:style

refactor(nuxt.config): remove deprecated meta tag
  nuxt.config.js
Due: yarn lint:js --fix

doc: update article (GraphQL - Graph Query Language )
  contents/dev/API/graphql-introduction.md
Due: prettier --write, yarn lint:style

doc: update article ([Debug] Flutter Image.network() 在 Web 下，圖片會載入失敗)
  contents/dev/Flutter/image-network-cors.md
Due: prettier --write, yarn lint:style

feat: add reading time
  assets/sprite/svg/clock.svg
  components/Article.vue
  types/content.ts
  utils/parser.ts
Due: yarn lint:js --fix, prettier --write, yarn lint:style

doc: add article ([Note] Inherited Widget)
  contents/dev/Flutter/inherited-widget.md
Due: prettier --write, yarn lint:style

doc: add article ([Note] Flutter 新增字體)
  contents/dev/Flutter/flutter-font.md
Due: prettier --write, yarn lint:style

style: add number list style
  assets/style/markdown.scss
Due: prettier --write, yarn lint:style

doc: add article ([Debug] Vue 生命週期的坑)
  contents/dev/Vue/vue-store-bug.md
Due: prettier --write, yarn lint:style

fix(processHtml): remove <s> and <a> tags of toc
  utils/parser.ts
Due: yarn lint:js --fix

doc: add article ([Note] TypeScript - The Basic Types)
  contents/dev/TypeScript/typescript-basic-types.md
Due: prettier --write, yarn lint:style

doc: add article ([Note] Email Template 要注意什麼)
  contents/dev/CSS/email-template.md
Due: prettier --write, yarn lint:style

doc: add article (前端常見測試類型)
  contents/dev/Test/frontend-testing.md
Due: prettier --write, yarn lint:style

doc: add article (Vitest - 介紹和建置)
  contents/dev/Test/vitest-setup.md
Due: prettier --write, yarn lint:style
