Repository JennieSH/JennieSH.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, prettier --write, yarn lint:style

.lintstagedrc.json:

{
    "*.{ts,js,vue}": [
      "yarn lint:js --fix"
    ],
    "*.{scss,css,vue}": [
      "prettier --write",
      "yarn lint:style"
    ]
}

chore: add push-dir package
  package.json
  yarn.lock
Due: none

style: modify tag list and markdown css
  assets/style/_markdown.scss
  components/Article.vue
  components/ArticleItem.vue
  components/Tag.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

chore: add github actions config (ci/cd)
  .github/workflows/deploy.yml
Due: none

chore: add sitemap config and package
  modules/generator.ts
  nuxt.config.js
  package.json
  yarn.lock
Due: yarn lint:js --fix

style: import markdown css only in Article component
  assets/style/index.scss
  assets/style/markdown.scss
  components/Article.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

feat: add dynamic meta keywords in Article page
  composables/useMetaHelper.ts
  nuxt.config.js
  pages/_category/_subject/_article.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

doc: add article (程式碼守門員 - Husky + Lint-Staged)
  contents/dev/NPM/husky-lint-staged.md
Due: none

doc: add article (GitHub Actions - Creating My First Workflow (CI/CD))
  contents/dev/Utilities/github-actions-quickstart.md
Due: none

style: modify markdown css
  assets/style/markdown.scss
Due: prettier --write, yarn lint:style

test: remove NuxtLogo test
  package.json
  test/NuxtLogo.spec.js
Due: yarn lint:js --fix

fix: update nuxt to 2.15.8
  package.json
  yarn.lock
Due: none

doc: add article (矯正人的小工具們)
  contents/life/Orthodontics/orthodontics-tools.md
Due: none

doc: add article (Mardown Test)
  contents/life/Demo/markdown-test.md
Due: none

doc: add article (Create My Own ESLint Config Package)
  contents/dev/NPM/create-own-eslint-config.md
Due: none

doc: add article (TDD - 測試驅動開發)
  contents/dev/Test/test-driven-development.md
Due: none

doc: add article (手把手一起 TDD)
  contents/dev/Test/tdd-implementation.md
Due: none

doc: update README.md
  README.md
Due: none

fix: force to upload env file
  .env
  .gitignore
Due: none

doc: update article (矯正人的小工具們)
  contents/life/Orthodontics/orthodontics-tools.md
Due: none

doc: add article ([Note] React Hooks 整理)
  contents/dev/React/react-hooks-first.md
Due: none

chore: add markdown files to lint-staged config
  .lintstagedrc.json
Due: none

style: modify markdown css for nesting unordered list
  assets/style/markdown.scss
Due: prettier --write, yarn lint:style

doc: update article ([Note] React Hooks 整理(上))
  contents/dev/React/react-hooks-first.md
Due: none

doc: add article ([Note] React Hooks 整理(下))
  contents/dev/React/react-hooks-second.md
Due: none

style: modify primary color of light mode
  assets/styleConfig.ts
Due: yarn lint:js --fix

doc: update article (Markdom Test)
  contents/life/Demo/markdown-test.md
Due: none

chore: change avatar link
  types/link.ts
Due: yarn lint:js --fix

fix: modify global css to keep the layout embedded correctly of markdown, especially the files of vue and jsx
  assets/style/index.scss
  utils/markdown.ts
Due: yarn lint:js --fix, prettier --write, yarn lint:style

style: modify avatar css
  pages/index.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

chore: add avatar image
  assets/images/Avatar.jpg
  pages/index.vue
  types/link.ts
Due: yarn lint:js --fix, prettier --write, yarn lint:style

doc: add article ([Note] Mac 環境、工具建置)
  contents/dev/Mac/mac-setup.md
Due: none

doc: add article ([Note] 使用 SSH 與 Github 連線)
  contents/dev/Git/github-ssh.md
Due: none
