Repository JennieSH/JennieSH.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:js --fix, prettier --write, yarn lint:style

.lintstagedrc.json:

{
    "*.{ts,js,vue}": [
      "yarn lint:js --fix"
    ],
    "*.{scss,css,vue,md}": [
      "prettier --write",
      "yarn lint:style"
    ]
}

fix: convert image tag to markdown syntax
  contents/life/Demo/markdown-test.md
Due: prettier --write, yarn lint:style

feat: enable HTML tags for content in markdown
  utils/markdown.ts
Due: yarn lint:js --fix

feat: add dart syntax highlight
  utils/hljs.ts
  utils/markdown.ts
Due: yarn lint:js --fix

doc: add article ([Note] BLoC Pattern)
  contents/dev/Flutter/block-pattern.md
Due: prettier --write, yarn lint:style

chore: lock node version
  .github/workflows/deploy.yml
Due: none

refactor: rename folder from Utilities to DevOps
  contents/dev/DevOps/github-actions-quickstart.md
Due: prettier --write, yarn lint:style

doc: add article (客製化 Terminal - iTerms2 + oh-my-zsh)
  contents/dev/Terminal/terminal-iterms.md
Due: prettier --write, yarn lint:style

style: change darkmode color
  assets/style/markdown.scss
  assets/styleConfig.ts
  components/ToC.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

style: change darkmode color of code tag
  assets/style/markdown.scss
Due: prettier --write, yarn lint:style

style: change icon size
  components/ThemeSwitch.vue
Due: yarn lint:js --fix, prettier --write, yarn lint:style

doc: add article (客製化 Terminal - Warp + Powerlevel10k)
  contents/dev/Terminal/terminal-warp.md
Due: prettier --write, yarn lint:style

doc: change article title (Mac 環境、工具建置)
  contents/dev/Mac/mac-setup.md
Due: prettier --write, yarn lint:style

doc: add article (CSS Units - px、％、em、rem)
  contents/dev/CSS/css-units.md
Due: prettier --write, yarn lint:style

doc: add article ([Note] WebRTC 與他的名詞們)
  contents/dev/Flutter/webrtc.md
Due: prettier --write, yarn lint:style

doc: change article title ([Note] Flutter 如何隱藏 API Key)
  contents/dev/Flutter/flutter-env-key.md
Due: prettier --write, yarn lint:style

doc: change wording ([Note] WebRTC 與他的名詞們)
  contents/dev/Flutter/webrtc.md
Due: prettier --write, yarn lint:style

doc: fix typo (CSS Units - px、％、em、rem)
  contents/dev/CSS/css-units.md
Due: prettier --write, yarn lint:style

doc: update article (客製化 Terminal - Warp + Powerlevel10k)
  contents/dev/Terminal/terminal-warp.md
Due: prettier --write, yarn lint:style

doc: update article (CSS Units - px、％、em、rem)
  contents/dev/CSS/css-units.md
Due: prettier --write, yarn lint:style

doc: update article (程式碼守門員 - Husky + Lint-Staged)
  contents/dev/NPM/husky-lint-staged.md
Due: prettier --write, yarn lint:style

doc: update article (Mac 環境、工具建置)
  contents/dev/Mac/mac-setup.md
Due: prettier --write, yarn lint:style
